/* =============
    Typography
============= */

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color:black;

    p{
        font-weight: 100;
        font-size: 24px;
        margin: 0%;
    }

    h1{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 30px;
        color: #000000;
    }

    h2{
        font-family: "Open Sans", sans-serif;
        font-style: bold;
        font-weight: 700;
        font-size: 25px;
        line-height: 20px;
        color: #FFFFFF;
    }

    h3{
        font-family: "Open Sans", sans-serif;
        font-style: "semi bold";
        font-weight: 600;
        font-size: 27px;
        line-height: 30px;
        color: #000000;
    }

    h4{
        font-family: "Open Sans", sans-serif;
        font-style: "semi bold";
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #E0DFD5;
    }

    h5{
        font-family: "Open Sans", sans-serif;
        font-style: "semi bold";
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #E0DFD5;
        margin: 0%;
    }

    h6{
        font-family: "Open Sans", sans-serif;
        font-style: Bold;
        font-weight:700;
        font-size: 18px;
        line-height: 24px;
        color:#FFFFFF
    }

    h7{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: #C8C7BC;
    }
}