/* =============
    Base
============= */

.Divider-Container{

    .Divider-Content{
        display: grid;
        grid-template-columns: 50% 50%;
        gap:15px;
        background: #E0DFD5;

        @include md {
            grid-template-columns: 50% auto;
        }

        .Sub-Content-Left{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 image"
            "button image"
        }

        .Sub-Content-Right{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 image"
            "button image"
        }
    }
}