/* =============
    Base
============= */

.Divider-Container{
    display: grid;
    grid-template-columns: 100%;
    gap:15px;

    .Divider-Content{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 30px;
        width: auto;
        height: 145px;
        background: white;
        margin:auto;

        @include sm{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        }

        @include md{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        }

        @include lg{
            display: grid;
            grid-template-rows: auto;
        }

        @include xl{
            display: grid;
            grid-template-rows: auto;
        }
    

    
        .Sub-Content-Left{
            display: grid;
            grid-template-columns: 50% 50%;
            background: #E0DFD5;
             .img{
                float:right;
             }
        }

        .Sub-Content-Right{
            display: grid;
            grid-template-columns: 50% 50%;
            background: #E0DFD5;
        }
    }
}