/* =============
    Base
============= */


.Gallery{

    .Container{

        .Gallery-Content{

   
            ul{
                list-style-type: none;
                padding:0;

                @include sm{
                    display: block;
                    grid: 100%;
                }

                @include md{
                    display: grid;
                    grid-template-columns: 50% 50%;
                }

                @include lg{
                    display: grid;
                    grid-template-columns: auto auto auto auto auto auto;
                    grid-template-areas:
                    "g1 g1 g1 g1 g2 g2"
                    "g1 g1 g1 g1 g3 g3";
                }

                @include xl{
                    display: grid;
                    grid-template-columns: auto auto auto auto auto auto;
                    grid-template-areas:
                    "g1 g1 g1 g1 g2 g2"
                    "g1 g1 g1 g1 g3 g3";
                }
                
                li{
                    &.i1{
                        width: 100%;
                        display: block;
                    }
                        @include xl{
                            grid-area: g1;
                        }
                    

                    &.i2{
                        @include sm{
                            display:none;
                        }
                        @include md{
                            display:none;
                        }
                        @include xl{
                            grid-area: g2;
                        }
                    }

                    &.i3{
                    
                        display: block;

                        @include xl{
                            display: block;
                            grid-area: g3;
                        }
                    }

                }
            }
        }
    }
}


