
img{
    width: 100%;
    display: block;
}

.Hero-Content{
    display: grid;
    grid-template-columns: 100%;

    @include md {
        grid-template-columns: 50% auto;
    }

    .sub-content-left{
        background-color: $red;

        @include xl{
            grid-template-columns: auto auto 16px;
        }
    }

}