/* =============
    Base
============= */

.Hero-Container{
    background: #B81919;
    .Content{
        .Hero-Content-Left-Container{
         display:grid;
         grid-template-columns: 50% 50%;
         grid-template-areas:
         ". content .";
        }
         .Hero-Content-Left-Container{
             grid-area:content;
            color:white;
            }
     }
    
}