/* =============
    Base
============= */

.Hero-Content{

    .Hero-Content-Left-Container{

        .Content{
            color:white;
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            ". content ."
            ;
            .Content{
                grid-area:content;
                color:white;
            }
        }
    }
}