/* =============
    Base
============= */
.Search {
  text-align: center;
}
.Search .Content {
  background-color: black;
}
.Search .Content input[type=text] {
  background-color: white;
  background-image: url(/deploy/img/SVGResized/Shape.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
