/* =============
    Base
============= */


.Search{

    .Content{
       background-color: black;
        
    

        input[type=text] {
             background-color: white;
             background-image: url(/deploy/img/SVGResized/Shape.svg);
             background-position: 10px 10px;
             background-repeat: no-repeat;
             padding-left: 40px;
        }
    }
}