/* =============
    Base
============= */


.Search{

    .Content{
        width:fit-content;
        display: grid;
    

        .search{
            width:61px;
        }
            
        }
    }

