/* =============
    Base
============= */


.Whats-New{
   
    .Whats-New-Articles{

            @include md{
                display: grid;
                grid-template-columns: 15px auto 15px;
                grid-template-areas: ". articles .";
            }

            @include xl{
                grid-template-columns: auto 1140px auto;
                
            }

            .article-grid{
                display: grid;
                grid-template-columns: 100%;
                gap: 15px;
            }
 


        
        }

    }