/* =============
    Base
============= */

   
    .Whats-New-Articles{
        
        .article-grid{
            column-gap: 20px;
            row-gap: 20px;

            .article-1{
                display: block;
                background: #F8F9FA;
             }

            @include sm{
                display: grid;
                grid-template-columns: 100%;
            }
            
            @include md{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 33% 33% 33%;
            }

            @include lg{
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 50% 50%;
             }

             @include xl{
                 display: grid;
                 grid-template-columns: 33% 33% 33%;
                 grid-template-rows: 50% 50%;
            }

         }
     }
 

        
    

