/* =============
    Footer
============= */

footer{
    background: #2A3036;
    color:black;

    .Content{
        display: grid;
        grid-template-columns: 33% 33% 33%;

        @include md{
            display:grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
            "locations newsletter"
            "locations social";
        }

        @include lg{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "locations newsletter social";
        }
    }
}


 .locations, .follow{
     ul{
        list-style: none;
        padding:0;
        display: inline-block;

         }
     }



      