/* =============
    Footer
============= */

footer{
    
    background: #2A3036;
    color:black;

    .Content{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-top: 64px;

        @include md{
            grid-template-areas:
            "locations newsletter"
            "locations social";
        }

        @include lg{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "locations newsletter social";
        }
    }
}

.locations, .News, .follow{
    margin-top: 62px;
}


.locations{
    @include xl{
    margin-left: 222px;
    }
}

.News{
    margin:auto;
}

 .locations, .follow{
     ul{
        list-style: none;
        padding:0;
        display: inline-block;

         }
     }



      