/* =============
    Header
============= */

header{
    .content{
        display:grid;
        grid-template-columns: 50% 50%;
        
        ul{
            li{
                list-style: none;
                text-decoration: dashed;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
}