/* =============
    Header
============= */

.header{
    .Logo-Container{
        background: #2A3036;

        .Logo-Content{
            background: #2A3036;
            display:grid;
            grid-template-columns: auto auto auto auto;
            img{
                width:auto
            }
        }
        
    }
}