/* =============
    Buttons
============= */
a{
    font-size:30px;
    color:red;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color:red;
}